.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Apply styles to all input elements */
input {
  border-radius: 5px; /* Adjust the radius as needed */
  padding: 10px; /* Adjust the padding as needed */
  color: #fff; /* Text color inside the input box */
  background-color: #282c34; /* Same background color as your app header */
  border: 2px solid #fff; /* White border */
}

/* Style the placeholder text */
input::placeholder {
  color: #fff; /* White placeholder text */
  opacity: 1; /* Fully opaque */
}

/* If you want to apply the same styles to textarea elements */
textarea {
  border-radius: 5px; /* Adjust the radius as needed */
  padding: 10px; /* Adjust the padding as needed */
  color: #fff; /* Text color inside the textarea */
  background-color: #282c34; /* Same background color as your app header */
  border: 2px solid #fff; /* White border */
}

/* Style the placeholder text in textarea */
textarea::placeholder {
  color: #fff; /* White placeholder text */
  opacity: 1; /* Fully opaque */
}